<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- Qui sotto è sepolto un form -->
<form action="{{url_for('esercizio_bp.inserisci_utente')}}" method="post">

    <label>Nome</label>
    <input name="nome_utente" placeholder="Inserisci il nome" type="text">

    <label>Cognome</label>
    <input name="cognome_utente" placeholder="Inserisci il cognome" type="text">

    <label>eMail</label>
    <input name="email_utente" placeholder="Inserisci la tua mail" type="text">

    <button type="submit">Salva</button>

</form>

{% for user in users %}
    {{ user.user_name }}
{% endfor %}

</body>
</html>